{% extends "base.html.twig" %}

{% block title %}
    Registrace byla úspěšná
{% endblock %}

{% block body %}
    <div class="row py-5">
        <div class="col-12 text-center">
            <h1 class="mb-4">
                Registrace byla úspěšná!
            </h1>
        
            <h2 class="h5">
                Nyní se můžete <a href="/login"> přihlásit</a>. 
            </h2>
        </div>
    </div>
{% endblock %}