// Section post item list
section.post-item-list {
    img {
        object-fit: cover;
        
        &.big {
            height: 300px;
        }

        &.small {
            height: 200px;
        }
    }   
}


// Post single 
article.post-single {
    img.thumb {
        object-fit: cover;
        height: 400px;
    }
}

// Form
form {
    input[type="checkbox"] {
        margin-left: 15px;
        margin-right: 5px;
    }

    // CKE Editor
    .cke  {
        margin-bottom: 15px;
    }
}