{% extends "base.html.twig" %}

{% block title %}
    Domů
{% endblock %}


{% block body %}

    {# Title #}
    <div class="row mb-5">
        <div class="col-12 text-center ">
            <h1 class=" border-bottom d-inline-block pb-2">
                Testovací úloha 1 - tvorba magazínu
            </h1>
        </div>
    </div>

    {# Newest main 2 posts #}
    {{ render(controller(
        'App\\Controller\\PostController::itemList', 
        { 'max': 2 }
    )) }}


    {# Next 4 newest posts #}
    {{ render(controller(
        'App\\Controller\\PostController::itemList', 
        { 'max': 4, "offset": 2, "size": "small" }
    )) }}
{% endblock %}