{% extends "base.html.twig" %}


{% block title %}
    Nový článek
{% endblock %}


{% block body %}

<h1 class="mb-4">
    Nový článek
</h1>

{{form_start(form)}}

    {{form_widget(form)}}

    <button class="btn btn-sm btn-success mt-3" >
        Vytvořit příspěvěk
    </button>

{{form_end(form)}}
    
{% endblock %}