{% extends "base.html.twig" %}

{% block title %}
    Magazín
{% endblock %}


{% block body %}

    {# Title #}
    <div class="row mb-5">
        <div class="col-12 border-bottom d-flex flex-wrap justify-content-between align-items-center">
            <h1 class=" h2">
                Magazín - výpis článků
            </h1>

            {% if app.user %}
                <div>
                    <a class="btn btn-sm btn-primary" href="/blog/novy-clanek">
                        Nový článek
                    </a>
                </div>
            {% endif %}
        </div>
    </div>

    {# Next 4 newest posts #}
    {{ render(controller(
        'App\\Controller\\PostController::itemList', 
        { 'max': 100, "size": "small" }
    )) }}


{% endblock %}