{% extends "base.html.twig" %}

{% block title %}
    Magazín
{% endblock %}


{% block body %}

    {# Title #}
    <div class="row mb-5">
        <div class="col-12 text-center ">
            <h1 class=" border-bottom d-inline-block pb-2">
                Magazín - výpis článků
            </h1>

            {% if app.user %}
                <div>
                    <a class="btn btn-sm btn-primary mt-3" href="/blog/novy-clanek">
                        Nový článek
                    </a>
                </div>
            {% endif %}
        </div>
    </div>


    {# Newest main 2 posts #}
    {{ render(controller(
        'App\\Controller\\PostController::itemList', 
        { 'max': 2 }
    )) }}


    {# Next 4 newest posts #}
    {{ render(controller(
        'App\\Controller\\PostController::itemList', 
        { 'max': 100, "offset": 2, "size": "small" }
    )) }}


{% endblock %}